.container {
    display: block;

}

.title {
    text-align: start;
}

.container-group {
    display: flex;
}

.detail-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.album {
    height: 120px;
    width: 120px;
}

.icons-container{
    display:none;
}

.detail-group:hover > .icons-container{
    display:flex;
    align-items: center;
}